::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #c74141;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #bb3c3c;
}
  
::-webkit-scrollbar-track {
    background-color: #2a1f1f;
}

h1, h2, h3, h4, h5, h6 {
    color: #f14848;
}

body {
    font-family:  "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
    line-height: 1;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    min-height: 100%;
    background-color: #2a1f1f;
    font-size: 1.0rem;
}

body egg {
    font-family:  "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
    line-height: 1;
    min-height: 100%;
    background-color: #2a1f1f;
    font-size: 1.0rem;
}

h1 {
    text-align: center;
}

.profile-div {
    text-align: justify;
    width: 16.0rem;
    margin: 0 10px;
}

.profile-div img {
    display: flex;
    margin: 0 auto;
}

.container > * {
    display: inline-flex;
    flex-direction: row
}

.container {
    margin-left: -10px;
    margin-right: -10px;
}

img {
    border-radius: 10%;
  }

.game {
    margin: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 75%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
    width: 80%;
    height: 80%;
  }